* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-dark: #393939;
  --color-green-gecko: #8ec649;
}

body {
  font-size: 14px;
  color: var(--color-dark);
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
  transition: color 0.15s;
  color: var(--color-dark);
}

a:hover {
  color: var(--color-green-gecko);
}

.space-top-bottom--small {
  margin: 10px 0;
}

.space-top-bottom--medium {
  margin: 20px 0;
}

.space-top-bottom--large {
  margin: 40px 0;
}

.space-top--small {
  margin-top: 10px;
}

.space-top--medium {
  margin-top: 10px;
}

.space-top--large {
  margin-top: 40px;
}

.space-bottom--small {
  margin-bottom: 10px;
}

.space-bottom--medium {
  margin-bottom: 10px;
}

.space-bottom--large {
  margin-bottom: 40px;
}
